# git clone https://gist.github.com/38995ed49140bdf9ec77.git
#pip freeze > requirements.txt.lock

six==1.4.1
requests==2.20.0
python-dateutil==2.1

simplejson==3.3.0

tweepy==2.2
facebook-sdk==0.4.0

selenium==2.40.0